.details
    display: flex
    flex-direction: column
  
    
.details__list
   padding: 0
.details__city
    text-transform: capitalize
    display: flex
.details__label
    flex-basis: 30%

.details__details
    display: flex
    list-style-type: none        
    text-transform: capitalize
    padding: 5px 0
    span
        padding-right: 10px


.details__back-button
    border: 1px solid #0080ff
    border-radius: 5px
    color:#0080ff
    background-color: transparent
    text-transform: capitalize
 
    padding: 5px 10px
    width: 15%
   
    