@import 'breakpoints'
.result-header
    display: flex
    margin: 30px auto 0 auto
    padding-bottom: 2vh
    padding-left: 0
    color: #6695c3
    

.result-header__num
    display: flex
    align-self: center
    flex-basis: 5%
    padding-left: calc(5% + 10px)
    +rwd(960)
        padding-left: 10px

.result-header__city
    flex-basis: 25%
    text-decoration: none
    text-transform: capitalize
    text-align: center
    align-self: center
    +rwd(600)
        flex-basis: 30%

.result-header__temp    
    text-align: left
    flex-basis: 30%
    text-align: center

.result-header__delete
    flex-basis: 20%
