.settings__header,.settings__unit
    text-transform: capitalize

.settings__list
    border-bottom: 1px solid #ddd
    padding-bottom: 20px
.settings__list-unit
    list-style: none
    margin-bottom: 5px
.settings__button-container
    width: 95%
    display: flex
    justify-content: flex-end
    text-decoration: none

.settings__button
    border: 1px solid #0080ff
    border-radius: 5px
    color:#0080ff
    background-color: transparent
    text-transform: capitalize
    padding: 5px 10px
    flex-basis: 15%

.save
    margin-left: 20px